# User-specific stuff
/**/.idea/**/workspace.xml
/**/.idea/**/misc.xml
/**/.idea/**/encodings.xml
/**/.idea/**/tasks.xml
/**/.idea/**/usage.statistics.xml
/**/.idea/**/dictionaries
/**/.idea/**/shelf
/**/.idea/**/copilot.data.migration.ask2agent.xml
Lead-Serverfiles/auth/auth_d.exe
Lead-Serverfiles/auth/auth.idb
Lead-Serverfiles/auth/auth.pdb
Lead-Serverfiles/channel1/game1/channel1_core1.idb
Lead-Serverfiles/channel1/game1/channel1_core1.pdb
Lead-Serverfiles/channel1/game2/channel1_core2.idb
Lead-Serverfiles/channel1/game2/channel1_core2.pdb
Lead-Serverfiles/channel1/game2/game_d.exe
Lead-Serverfiles/channel99/channel99.idb
Lead-Serverfiles/channel99/channel99.pdb
Lead-Serverfiles/db/db.idb
Lead-Serverfiles/db/db.pdb
Lead-Serverfiles/game_build/game_d.exe
Lead-Serverfiles/game_build/game.idb
Lead-Serverfiles/game_build/game.pdb
