# Ignore generated objects
.vs
.idea
UpgradeLog.htm
**/Debug/
**/Release/
**/logs/
**/*.idb
**/*.pdb
**/*.tlog
**/*.log
**/*.aps
**/*.user
.obj/
OBJDIR/

# Dependency and backup files
Depend
*.bak

# VS source control
*.vspscc
*.vssscc

# Python artifacts
*.pyc
__pycache__/

# Ignore build libs
# We ignore all .lib files as they are build artifacts in this source tree
*.lib
*.exp
*.ilk

# Ignore build executables
/db/db_d.*
/auth/auth_d.*
/game/game_d.*
/qc/qc.exe

# Ignore installed dependencies
vcpkg_installed
*.o
*.obj
